.notificationIconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notificationIconWrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 6px;
  background-color: #4b98c6;
  border-radius: 50%;
}